<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"></meta>

<link href="/plugins/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <span>${name}</span>

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>