<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"></meta>

<link href="/plugins/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
	

    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    
    <script type="text/javascript" src="/js/webSkt/index.js"></script>
</body>
</html>